.container {
  border: none;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s linear;

  &.primary {
    background: dodgerblue;
    color: white;
  }

  &.primary:hover {
    background: blue;
  }

  &.primary:disabled {
    background: grey;
    color: black;
    opacity: 40%;
  }

  &.secondary {
    background: rgba(0, 0, 0, 0.1);
    color: black;
  }

  &.secondary:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}
